"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/linux-cuda-cu12.2.0/libundreamai_linux-cuda-cu12.2.0.so" filter=lfs diff=lfs merge=lfs -text
"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/android/arm64-v8a/libundreamai_android.so" filter=lfs diff=lfs merge=lfs -text
"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/android/x86_64/libundreamai_android.so" filter=lfs diff=lfs merge=lfs -text
"*.dll" filter=lfs diff=lfs merge=lfs -text
Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/linux-cuda-cu12.2.0-full/libundreamai_linux-cuda-cu12.2.0-full.so filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
Assets/Fence[[:space:]]Concrete[[:space:]]V1/Textures/bitonZaborRazv01.png filter=lfs diff=lfs merge=lfs -text
Assets/Fence[[:space:]]Concrete[[:space:]]V1/Textures/bitonZaborRazv01_NRM.png filter=lfs diff=lfs merge=lfs -text
Assets/Bones/Textures/Skeletons_A.tga filter=lfs diff=lfs merge=lfs -text
Assets/Bones/Textures/Skeletons_M_AO_G.tga filter=lfs diff=lfs merge=lfs -text
Assets/Bones/Textures/Skeletons_N.tga filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Exterior[[:space:]]Props[[:space:]]Pack/_Environment/Models/WoodenFence_/Textures/wooden_fence_UV_1.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground001.tif filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer01/Planks01Layer01_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer02/Planks01Layer02_BaseColor.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer02/Planks01Layer02_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer03/Planks01_layer03_BaseColor.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer03/Planks01_layer03_Normal.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Farm[[:space:]]Models[[:space:]]Pack/Models/Barn01/textures_Sub_01/Planks01Layer03/Planks01_layer03_Roughness.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Interior[[:space:]]Props[[:space:]]Pack[[:space:]]2/_interior/Models/interior01/Textures/badAtlas01.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Interior[[:space:]]Props[[:space:]]Pack[[:space:]]2/_interior/Models/interior01/Textures/badAtlas01_AO.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground001_mask.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground001_S.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground002_N.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground003_mask.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground003_N.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground003_S.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground004_N.png filter=lfs diff=lfs merge=lfs -text
Assets/ALP_Assets/Realistic[[:space:]]Terrain[[:space:]]Textures[[:space:]]Lite/Textures/Ground004_S.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
