"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/linux-cuda-cu12.2.0/libundreamai_linux-cuda-cu12.2.0.so" filter=lfs diff=lfs merge=lfs -text
"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/android/arm64-v8a/libundreamai_android.so" filter=lfs diff=lfs merge=lfs -text
"Assets/StreamingAssets/undreamai-v1.2.6-llamacpp/android/x86_64/libundreamai_android.so" filter=lfs diff=lfs merge=lfs -text
"*.dll" filter=lfs diff=lfs merge=lfs -text
